body{
    background-color: #61677A;
}

.main{
   margin-top: 100px;
   
}
.heading{
    text-decoration: underline;
    font-weight: bold;
    
}
.card{
    width: 600px;
    height: 75vh;
    border-radius: 16px;

    
}
.answer-section{
    margin-top: -50px;
    }

.answer-section button{
   font-size: 16px;
   color: #ffffff;
   background-color: #272829;
   padding: 5px;
   border: 5px solid white;
   cursor: pointer;
   display: flex;
   flex-direction: column;
   justify-content: space-between ;
   width: 200px;
   font-family: Euclid Circular A;
   text-align: center;
        
}
.answer-section button:hover{
    transition: border-radius .15s ease;
    border-radius: 30px;
    background-color: #6C5F5B;

}


.question-count{
    margin-left: 12px;
}
  .question-count span {
    font-size: 28px;
  }  
.question-text{
    margin-bottom: 140px;
    width: 80%;
    font-size: 22px;
    margin-left: 12px;
}
.score-section{
    font-size: 24px;
}
.question-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.timer{
    background-color: white;
    color: black;
    border-radius: 16px;
    padding: 12px;
}
.restart{

margin-left:85px;    
}

.next{
    margin-top: 250px;
    border-radius: 10px;
}

